[Global]
cluster-id = "{{ cluster_name }}"
cluster-distribution = "{{ k8s_dist }}"

[VirtualCenter "{{ vsphere_env }}"]
insecure-flag = "false"
ca-file = /etc/ssl/certs/root.ca
user = "vsphere-csi@ycdisp.com"
password = "{{ lookup('hashi_vault', 'secret/ssh/eingram:ssh_password') }}"
port = "443"
datacenters = "{{ vsphere_datacenter }}"

[Labels]
topology-categories = "k8s-region, k8s-zone"