---
apiVersion: v1
kind: ConfigMap
metadata:
  name: vsphere-cloud-config
  labels:
    vsphere-cpi-infra: config
    component: cloud-controller-manager
  namespace: kube-system
data:
  vsphere.conf: |
    # Global properties in this section will be used for all specified vCenters unless overriden in VirtualCenter section.
    global:
      port: 443
      # set insecureFlag to true if the vCenter uses a self-signed cert
      insecureFlag: false
      ca-file: /etc/ssl/certs/root.ca
      # settings for using k8s secret
      secretName: vsphere-cloud-secret
      secretNamespace: kube-system

    # vcenter section
    vcenter:
      {{ vsphere_env }}:
        server: "{{ vsphere_env }}"
        datacenters:
          - "{{ vsphere_datacenter }}"

    labels:
      k8s-region: {{ k8s_region }}
      k8s-zone: {{ k8s_zone }}